* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
  /* border: solid red 1px; */
  margin: 4px;
  /* padding: 20px; */
  background-color: #e8b19b;
}

.projects-h1 {
  letter-spacing: 8px;
  color: #3e5641;
  font-family: "Baskervville", serif;
  display: flex;
  text-transform: lowercase;
  font-weight: 100;
  padding-bottom: 20px;
}
