* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: auto;
  /* border: solid red 1px; */
  margin: 20px 20px;
}
.h1-container {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  /* border: solid red 1px; */
  margin: 10px;
  padding: 10px;
  letter-spacing: 24px;
  font-family: "Lora", serif;
  color: #ebc9c2;
}
.ui {
  display: flex;
  list-style: none;
}
.li {
  padding: 0 62px;
  font-size: 18px;
  text-transform: lowercase;
  color: #3e5641;
  cursor: pointer;
}
