* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider {
  display: flex;
  /* height: 40px; */
  /* margin: 20px; */
  align-items: center;
  justify-content: center;
}
.slide {
  height: 250px;
}
.slide-image {
  height: 250px;
  padding-top: 5px;
  margin: 1px;
}
.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: 000;
  font-family: "Baskervville", serif;
}
.slider-a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgba(94, 101, 10, 0.947);
  font-family: "Baskervville", serif;
}
